<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport"/>
    <title ng-cloak>{{wholePage}}</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<!--<div>
    <table ng-controller="CartController">
        <caption>我的购物车</caption>
        <tr>
            <th>序号</th>
            <th>商品</th>
            <th>单价</th>
            <th>数量</th>
            <th>金额</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{$index + 1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td><input ng-model="item.quantity"></td>
            <td>{{item.quantity * item.price}}</td>
            <td>
                <button ng-click="remove($index)">Remove</button>
            </td>
        </tr>
    </table>
</div>-->
<div ng-controller="testExample">
    <span ng-repeat="item in zhangp" ng-cloak class="ng-cloak">
        {{item}}
        <!--<span ng-bind="item"></span><span ng-bind="name"></span>-->
    </span>
<!--</div>-->
    <!--<div ng-style="angularLoaded" ng-controller="test01">-->
        <!--<div ui-view ng-dis>-->
            <!--<a ui-sref="index">state1</a>-->
            <!--<a ui-sref="b">state2</a>-->
        <!--</div>-->
        <!-- -->
        <!--&lt;!&ndash; directive &ndash;&gt;-->
        <!--<div hello></div>-->
        <!--{{value}}-->
        <!--<div>-->
            <!--<div>-->
                <!--Any: <input ng-model="search.$"> <br>-->
                <!--name:<input type="text" ng-model="search.name" placeholder="please enter text"><br>-->
                <!--age:<input type="text" ng-model="search.age" placeholder="please enter text">-->
                <!--Equality:<input type="checkbox" ng-model="strict" ng-init="strict=true">-->
                <!--<ul ng-repeat="(k,v) in arr | filter:search:strict">-->
                    <!--<li>{{v.name}}:{{v.age}}</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash; <div ng-repeat="(k,v) in arrays">-->
                <!--{{v.name+' '+v.age}}-->
            <!--</div> &ndash;&gt;-->
        <!--</div>-->
        <!--<div>{{time | date:"yyyy/MM/dd hh:mm:ss"}}</div>-->
        <!--<div>{{123456 | number:3}}</div>-->
        <!--&lt;!&ndash; ng-cut  specify your behavior&ndash;&gt;-->
        <!--<input ng-cut="cut='hello cut'" class = "hehe" ng-init="cut=false; value='cut me'" ng-model="value">-->
        <!--cut: {{cut}}-->
    <!--</div>-->
<!--<div ng-init="friends = [{name:'John', phone:'555-1276'},-->
                         <!--{name:'Mary', phone:'800-BIG-MARY'},-->
                         <!--{name:'Mike', phone:'555-4321'},-->
                         <!--{name:'Adam', phone:'555-5678'},-->
                         <!--{name:'Julie', phone:'555-8765'},-->
                         <!--{name:'Juliette', phone:'555-5678'}]"></div>-->
<!--Any: <input ng-model="search.$"> <br>-->
<!--Name only <input ng-model="search.name"><br>-->
<!--Phone only <input ng-model="search.phone"><br>-->
<!--Equality <input type="checkbox" ng-model="strict"><br>-->
<!--<table id="searchObjResults">-->
    <!--<tr><th>Name</th><th>Phone</th></tr>-->
    <!--<tr ng-repeat="friendObj in friends | filter:search:strict">-->
        <!--<td>{{friendObj.name}}</td>-->
        <!--<td>{{friendObj.phone}}</td>-->
    <!--</tr>-->
<!--</table>-->
    <script src="script/jquery-1.12.2.js"></script>
    <script rel="text/javascript" src="script/angular.min.js"></script>
    <script rel="text/javascript" src="script/angular-ui-router.min.js"></script>
    <script rel="text/javascript" src="script/test-01.js"></script>
</body>
</html>