<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Promise example</title>
</head>

<body>
<h6>Promise example</h6>

<p>Darth Vader image by <a href="https://www.flickr.com/photos/digital_stability/">Shawn Taylor</a>, published under a <a href="https://creativecommons.org/licenses/by-nc-nd/2.0/">Attribution-NonCommercial-NoDerivs 2.0 Generic</a> license.</p>
</body>

<script>

    function imgLoad(url) {
        return new Promise(function(resolve, reject) {
            var request = new XMLHttpRequest();
            request.open('GET', url);
            request.responseType = 'blob';
            request.send();
            request.onload = function() {
                if (request.status == 200) {
                    resolve(request.response);
                } else {
                    reject(Error('Image didn\'t load successfully; error code:' + request.statusText));
                }
            };

            request.onerror = function() {
                reject(Error('There was a network error.'));
            };


        });
    };

    var body = document.querySelector('body');
    var myImage = new Image();

    imgLoad('../media/myLittleVader.png').then(function(response) {
        myImage.src = response;
        body.appendChild(myImage);
    }, function(Error) {
        console.log(Error);
    });

</script>
</html>
