<!doctype html>
<!--<html ng-app="myApp">-->
<html>
  <head>
    <script src="../script/jquery-1.12.2.js"></script>
    <script rel="text/javascript" src="../script/angular.js"></script>
    <script rel="text/javascript" src="../script/angular-ui-router.min.js"></script>
    <script src="../script/simpleDirective.js"></script>
	<style>
		body{font-size:16px}
	</style>
  </head>
  <body>
    <div ng-controller="Ctrl">
      <a href="http://hz.yunxuetang.cn">studyInAir</a>
      <div>age:{{cusInfo.age}}</div>
      <div ng-bind="cusInfo.age"></div>
      <button ng-click="change()">change</button>
      <zp-cus-html cus-info="cusInfo" desktop="desktop"></zp-cus-html>
      <div ui-view="main">
        <span ui-sref="index.state1">state1</span>
        <span ui-sref="index.state2">state2</span>
      </div>
      <option>Option</option>
      <input type="text" ng-model="s">
      <button ng-click="show()">{{s}}</button>

      <!--²âÊÔ ngBindHtml-->
      <div ng-controller="bindHtmlCtrl">
        <p ng-bind-html="content | toHtml"></p>
        <p ng-bind-html="img | toHtml"></p>
      </div>
      <!--²âÊÔ ngBindHtml-->
    </div>
  </body>
</html>
